.main-cart-container {
  background: #272a38;
  width: 100%;
  padding-bottom: 2rem;
  min-height: 90vh;

  h1 {
    color: #FCA91F;
    font-family: "Gloria Hallelujah", sans-serif;
    text-align: center;
    font-size: 4rem;
  }

  h3 {
    color: white;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 1.5rem;

    &.yellow {
      color: #FCA91F;
    }

    &.end {
      text-align: end;
    }
  }

  h2 {
    color: white;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .section-container {
    background: #373948;
    width: 70vw;
    height: fit-content;
    min-height: 20rem;
    margin: 2rem auto;
    padding: 2rem 3rem;
    border-radius: 2rem;

    .section-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cartImg {
        width: 5rem;

        img {
          width: inherit;
        }
      }
    }

    hr {
      margin: 1rem auto;
    }
  }

  .cart-form-container {
    width: 70vw;
    margin: 3rem auto;

    .cartForm {
      width: 90%;
      margin: auto;
      max-width: 43rem;

      input {
        margin: 0 auto 2rem auto;
        background: #373948;
        color: white;
        width: 100%;
        max-width: 38rem;
        border-radius: 1rem;
        border: none;
        text-align: start;
        padding: 1rem 2rem;
      }

      label {
        color: white;
        font-family: "Gloria Hallelujah", sans-serif;
        font-size: 1rem;
      }

      button {
        border-radius: 1rem;
        border: none;
        color: white;
        background: #45b899;
        font-family: "Gloria Hallelujah", sans-serif;
        font-size: 2rem;
        width: 90%;
        margin: auto;
        max-width: 43rem
      }

      .checkbox {
        width: 4rem;
      }

      .blue {
        color: #45b899;
      }
    }
  }

  .center {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  button {
    border-radius: 1rem;
    border: none;
    color: white;
    background: #45b899;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 2rem;
    width: 90%;
    margin: auto;
    max-width: 43rem;
    cursor: pointer;
  }
}