.checkboxWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    border: 1px solid #707070;
    height: 85px;
    width: 100%;
    border-radius: 15px;
    background: white;
    margin: 15px 5px;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="email"] {
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 1.5em;
    color: #222222;
    padding: 0 15px;
}

input[type="checkbox"] {
    -webkit-appearance: unset;
    width: 86px;
    height: 86px;
    border-radius: 15px;
}

input[type="checkbox"]:checked {
    background-image: url("img/check.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #45b899;
    background-size: 70px;
}

label {
    color: #9D9D9D;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 1.8em;
    z-index: 5;
    pointer-events: none;
    text-align: center;
  }

label[for="newsletter"] {
    margin: 0;
    color: white;
}

button[type="submit"] {
    width: 100%;
    padding: 0;
}

/* --- SPECIFIC CHANGES TO SIGN UP FORM --- */
#signUp {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px auto;
}

#signUp > input::placeholder {
    color: white;
}

/* --- SPECIFIC CHANGES TO USER PROFILE FORM --- */
#avatarImg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    background-image: url("img/profile.jpg");
    background-size: cover;
  }
  
  legend {
    color: #fca91f;
    font-family: "Gloria Hallelujah", sans-serif;
    text-align: left;
    font-size: 1.3em;
  }

    #userInfo > fieldset {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 50px auto;
    border: none;
  }

  #userInfo > fieldset > input {
    border: none;
    display: block;
    background-color: #373948;
    color: #9d9d9d;
  }

  #userInfo > fieldset > input::placeholder {
      color: #373948;
}
  
/* --- ERROR MESSAGES --- */
.errorMsg {
    display: none;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    color: #ef4d4e;
}

input:invalid:not(:placeholder-shown):not(:focus) {
    background: #ef4d4e;
}

input:invalid:not(:placeholder-shown):not(:focus) ~ .errorMsg {
    display: block;
  }
  

/* --- UNDER 600PX --- */
@media all and (max-width: 600px) {
  form, #userInfo > fieldset {
      width: 100%;
      padding: 1em;
    
  }

  legend {
      text-align: center;
  }
}