html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #373948;
  overflow: hidden;
}

header {
  width: 100vw;
  background: #45b798;
}
header h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  padding: 1rem 3rem;
}

main {
  display: flex;
}
main table {
  border-spacing: 0;
  width: 100%;
  color: #fff;
}
main table thead {
  height: 5rem;
  background: #272a38;
  width: 100vw;
}
main table thead th {
  text-align: start;
  vertical-align: bottom;
  padding: 1rem 3rem;
}
main table tbody {
  background: #373948;
}
main table tbody tr {
  height: 3rem;
}
main table tbody tr td {
  border-bottom: 1px solid #45b798;
  padding-left: 3rem;
}
main table tbody tr td .trashbinSVG {
  width: 1.2rem;
  cursor: pointer;
}
main table tbody tr td .switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 28px;
}
main table tbody tr td .switch:hover {
  cursor: pointer;
}
main table tbody tr td .switch input {
  width: 0;
  height: 0;
}
main table tbody tr td .switch input:checked + .slider {
  background-color: #ef4d4e;
}
main table tbody tr td .switch input:checked + .slider:before {
  -webkit-transform: translateX(90px);
  -ms-transform: translateX(90px);
  transform: translateX(90px);
}
main table tbody tr td .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fba81e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
main table tbody tr td .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background: #272a38;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
main table tbody tr td .switch .text {
  color: #272a38;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 0;
  top: 4px;
  text-align: center;
  vertical-align: middle;
}
main .arrowSVG {
  width: 0.7rem;
  margin-left: 0.3rem;
}
main .arrowSVG.desc {
  transform: rotate(180deg);
}
main #refreshSVG {
  width: 1.5rem;
  margin-left: 0.5rem;
}
main #preloader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
main #preloader-container #preloader-insert {
  width: 5rem;
  margin: 22rem auto 0 auto;
  animation: rotate 2s linear infinite;
}
main #preloader-container #preloader-insert #preloaderSVG {
  visibility: hidden;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
main #preloader-container #preloader-insert svg path {
  stroke-dasharray: 450, 550;
  stroke-dashoffset: 1000;
  animation: dash 2s linear infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
main .aside-menu {
  background: #272a38;
  width: 13rem;
  height: 100vh;
}
main .aside-menu ul {
  list-style: none;
  padding: 0 2rem;
}
main .aside-menu ul li {
  padding: 3rem 0 2rem 0;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #979c9e;
}
main .aside-menu ul li:nth-child(1) {
  padding-top: 0;
  cursor: pointer;
}
main .aside-menu ul li div {
  color: #979c9e;
  display: flex;
  margin: 0.5rem 0.3rem;
  cursor: pointer;
}
main .aside-menu ul li div div {
  background: #fba81e;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}
main .aside-menu ul li div div.disabled {
  background: #ef4d4e;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
#modal .modal-content {
  position: relative;
  width: 60vw;
  margin: auto;
  height: fit-content;
  padding: 3rem;
  background: #1a1d26;
  color: white;
  border: 0.1rem solid #ef4d4e;
}
#modal .modal-content #closeModal {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 3rem;
  cursor: pointer;
}
#modal .modal-content #closeModal:hover {
  color: #ef4d4e;
}
#modal .modal-content p {
  color: #ef4d4e;
}
#modal .modal-content button {
  padding: 0.5rem 1rem;
  background: #ef4d4e;
  border: none;
  color: #1a1d26;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
#modal .modal-content .modalUserInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #45b798;
}

.showModal {
  display: block !important;
}

.active-filter-btn {
  color: white !important;
}

#toast-container > div {
  -moz-box-shadow: 0 0 0 #999999 !important;
  -webkit-box-shadow: 0 0 0 #999999 !important;
  box-shadow: 0 0 0 #999999 !important;
  width: 30vw;
}

#toast-container.toast-top-center > div, #toast-container.toast-bottom-center > div {
  width: 20rem !important;
}

/*# sourceMappingURL=list.css.map */
