@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background-color: #373948;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1;
  grid-gap: 3em;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#slogan > p {
  color: white;
  opacity: .5;
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > a {
  font-family: "Gloria Hallelujah", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  transition: .2s ease-in-out;
}

.menu > a:hover, #login:hover {
  color: #45B899;
}

#login {
  color: #FCA91F;
  transition: .2s ease-in-out;
}

#mobileMenuIcon {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar {
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-gap: 1em;
  }
  
  .navbar > img {
    margin: 0 auto;
  }
  
}

@media all and (max-width: 450px) {
  #mobileMenu {
    width: 45px;
    height: 45px;
    margin: 0 auto;
   background: url("http://petragergely.dk/kea/imgs/menu.png");
    background-size: cover;
  }
  
  .menu {
    display: none;
  }
  
}

@media all and (max-width: 400px) {
  .menu {
    flex-direction: column;
  }
} 