/* random stuff that we need to sort out into their respective css files later */
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.centered {
  text-align: center;
}

h1,
h2 {
  color: white;
  font-family: "Gloria Hallelujah", sans-serif;
}

p,
span {
  font-family: "Gloria Hallelujah", sans-serif;
  font-size: 1.8em;
}
