/* random stuff that we need to sort out into their respective css files later */
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #272939;
}

.centered {
  text-align: center;
}

.yellow {
  color: #fca91f;
  margin: 50px 0;
}

p,
span, 
h1,
 h2, 
 button {
color: white;
font-family: "Gloria Hallelujah", sans-serif; 
}

p,
span,
a {
  font-size: 1.8em;
}

button {
  height: 100px;
  background: #45b899;
  -webkit-appearance: unset;
  border: none;
  outline: none;
  font-size: 1.8em;
  border-radius: 15px;
  display: block;
  margin: 50px auto;
  text-decoration: none;
  padding: 5px 5em;
  transition: 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: #69dcbd;
}

a {
  font-size: 1.8em;
  color: #5bcbad;
  font-family: "Gloria Hallelujah", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

a:hover {
  color: #69dcbd;
}
