/* random stuff that we need to sort out into their respective css files later */

.signUpWrapper {
    width: 100%;
    height: 100vh;
    background: #00000080;
    display: flex;
    flex-direction: column;
    align-items: center;
}