@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  background-color: #373948;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1;
  grid-gap: 3em;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  #slogan {
    p {
      color: white;
      opacity: .5;
      font-family: "Gloria Hallelujah", sans-serif;
      font-size: 1.3em;
      text-align: center;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-family: "Gloria Hallelujah", sans-serif;
      color: white;
      text-decoration: none;
      font-size: 1.3em;
      transition: .2s ease-in-out;

      :hover {
        color: #45B899;
      }
    }

    #login {
      color: #FCA91F;
      transition: .2s ease-in-out;

      :hover {
        color: #45B899;
      }
    }
  }

  #mobileMenuIcon {
    display: none;
  }
}

.store-main-container {
  background: #272a38;
  min-height: 100vh;
  width: 100%;

  h1 {
    color: #FCA91F;
    font-family: "Gloria Hallelujah", sans-serif;
    text-align: center;
    font-size: 4rem;
  }

  .section-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 7vw;
    justify-content: center;

    section {
      background: #373948;
      display: inline-block;
      text-align: center;
      width: 25rem;
      min-height: 25rem;
      height: fit-content;
      margin: 1.5rem;
      border: 1rem #373948;
      border-radius: 2rem;
      padding: 1rem 3rem;

      .smacker-img {
        width: 7rem;
      }

      h5 {
        font-size: 1.5rem;
        color: #FCA91F;
        font-family: "Gloria Hallelujah", sans-serif;
        margin: 0.5rem 0;
        text-align: left;
      }

      p {
        text-align: left;
        font-family: "Roboto", sans-serif;
        color: white;
      }

      .price-container {
        display: flex;
        justify-content: space-between;

        div {
          font-size: 2rem;
          color: #FCA91F;
          font-family: "Gloria Hallelujah", sans-serif;
          margin: 0.5rem 0;
        }

        button {
          width: 9rem;
          height: 3rem;
          align-self: center;
          border-radius: 0.5rem;
          background: #45B899;
          border: 0;
          color: white;
          font-family: "Gloria Hallelujah", sans-serif;
          font-size: 1.5rem;
          cursor: pointer;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .navbar {
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-gap: 1em;
  }

  .navbar > img {
    margin: 0 auto;
  }

}

@media all and (max-width: 450px) {
  #mobileMenu {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    background: url("http://petragergely.dk/kea/imgs/menu.png");
    background-size: cover;
  }

  .menu {
    display: none;
  }

}

@media all and (max-width: 400px) {
  .menu {
    flex-direction: column;
  }
}